@font-face {
   font-family: "Best B4";
   src: url("../fonts/futura-extra-black-bt.ttf");
}

.title {
	font-family: "Best B4";
}

body {
	background: url("../images/background1.jpg");
}

.jumbotron {
	background: rgba(238, 238, 238, 0.5);
}

.panel-default {
	opacity: 0.8;
}

/* .panel-default .panel-heading {
	background: transparent;
} */

.results-section, .end-message{
	display: none;
}

#map {
  height: 500px;
}

.recipePhoto {
	width: 100%;
}


